
.icon{
    color:#444444;
    font-weight: bold;
    margin-right: 20px;
}

.p-col{
    border: "1px solid  #339ef4 ";
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    color: #339ef4;
    letter-spacing: 5px;
    font-family: cursive;
   
   
}
.p-title{
    font-size: 20px;
    text-transform: uppercase;
    color: #339ef4;
    font-weight: bold;
    font-family: cursive;
  
   
   
}

.main{
    color: #339ef4;

}


        
.subtitle{
   font-family: cursive;
   font-size: 20px;

}
.cursive{
    font-family: cursive;
}
.p-subtitle{
    font-family: cursive;
    font-size: 15px;
 
 }

 .p-link{
    text-decoration: none;
 }

 .p-link:hover{
    color: white;
 }

 .h-link{
    text-transform: uppercase;
    color: #339ef4;
    font-weight: bold;
    font-family: cursive;
 }

 

.p-btn{
    border: none;
    background-color: white;
    text-transform: capitalize;
    font-size: 20;
    color: #339ef4;
   font-family: cursive;
    cursor: pointer;
    border: 1px solid #339ef4;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    
  }

  .p-btn:hover{
    background-color: #339ef4;
    color: white;
  }


  .p-btn-o{
    border: none;
    background-color: #339ef4;
    text-transform: capitalize;
    font-size: 20;
    color: #ffffff;
   font-family: cursive;
    cursor: pointer;
    border: 1px solid #339ef4;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;

  }

  .p-btn-o:hover{
    background-color: #ffffff;
    color: #339ef4;
  }


  

